mat-toolbar {
  display: flex;
  justify-content: center; // centraliza o container
}

.container {
  max-width: 1200px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}