@use '@angular/material' as mat;


:root{
  --color-title: #7B2D45;
  --color-subtitle: #C2536A;
  --border-color-input: #f9c4d4;
  --background-color-input: #fff0f2;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // overflow-y: auto;
   // overflow-x: hidden;
  background-image: linear-gradient(135deg, #FFF0F3 0%, #F9C4D4 100%);
}


html {

  color-scheme: light dark;


  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
    ),
    typography: (
      plain-family: 'Inter',
      brand-family: 'Inter',
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400
    )
  ));


  @include mat.theme-overrides((

    primary: light-dark(var(--color-subtitle), #FFB1C3), 
    'on-primary': light-dark(#ffffff, #561E2E),    
    outline: light-dark(#F9C4D4, #847376),
  ));
}


body, button, input, select, textarea {
  font-family: 'Inter', sans-serif !important;
}

.mat-mdc-unelevated-button.mat-primary, 
.mat-mdc-flat-button.mat-primary {
  --mdc-filled-button-container-color: var(--color-subtitle);
  --mdc-filled-button-label-text-color: #ffffff;
  --mdc-filled-button-label-text-font: 'Inter';
  --mdc-filled-button-container-shape: 12px;
  font-weight: 700 !important; 
  border-radius: 12px !important;
}


.mat-mdc-outlined-button.mat-primary {
  --mdc-outlined-button-outline-color: var(--color-subtitle);
  --mdc-outlined-button-label-text-color: var(--color-subtitle);
  --mdc-outlined-button-label-text-font: 'Inter';
  --mdc-filled-button-container-shape: 12px;
  font-weight: 700 !important; 
  border-radius: 12px !important;
  border-width: 1px;
}


.mat-mdc-button.mat-primary {
  --mdc-text-button-label-text-color: var(--color-subtitle);
  --mdc-text-button-label-text-font: 'Inter';
}

.mat-mdc-form-field-appearance-outline {
  .mdc-text-field--outlined {
    background-color: var(--background-color-input) !important;
    border-radius: 12px;
  }
  
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: var(--border-color-input) !important;
  }
}

.elevated {
  box-shadow: var(--mat-sys-level2);
}

.text-title {
  font-size: 1.5rem;     
  line-height: 1.25;     
  font-weight: 700;      
  color: var(--color-title);     
}

.text-subtitle {
  color: var(--color-subtitle);
  font-weight: 500;
  margin-top: 8px;
}

mat-label{
  color: var(--color-subtitle);
  font-weight: 100;
}

.mdc-floating-label--required::after {
  color:var(--color-subtitle);
  margin-left: 4px;         
  font-weight: bold;
}


.mat-mdc-form-field-focus-indicator .mdc-floating-label--required::after {
  color: var(--color-subtitle);
}
